<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="css/pc.css">
    <script type="text/javascript" src="js/lib/require.js" data-main="js/pc"></script>
</head>

<!--二维码-->
<body>
<h5>注意：每个页面ID只能上传一个音频</h5>
<!--<div id="peaks-container"></div>-->
<div id="erm_box">
    <h5>请用微信扫描二维码测试</h5>
    <div id="qrcode"></div>
</div>

<div id="peaks-container"></div>
<!--结果-->
<div id="play-container">
    <span class="tip">还没有获取到上传的音频，请上传!!</span>
    <div class="play">播放</div>
</div>

</body>
</html>