<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="css/pc.css">
    <script type="text/javascript" src="js/lib/require.js" data-main="js/pc"></script>
</head>

<!--二维码-->
<body>
<div id="erm_box">
    <h5>请用微信扫描二维码测试</h5>
    <div id="qrcode"></div>
</div>

<!--结果-->
<div id="ret_box">
    <canvas id="canvas" width="800" height="350"></canvas>
    <audio src="upload/BEYOND-earth.mp3" id="audio" controls>audio element not supported</audio>
</div>

</body>
</html>