<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="css/pc.css">
    <script type="text/javascript" src="js/lib/require.js" data-main="js/pc"></script>
</head>

<!--二维码-->
<body>

<!--<div id="peaks-container"></div>-->
<div id="erm_box">
    <h5>请用微信扫描二维码测试</h5>
    <div id="qrcode"></div>
</div>

<div id="peaks-container"></div>
<audio id="audio">
    <source src="upload/s9yAgACiVkT4Bh6_R3Pj.mp3" type="audio/mpeg">
    <!--<source src="test_data/sample.ogg" type="audio/ogg">-->
</audio>
<!--结果-->
<div id="ret_box">
    <!--<canvas id="canvas" width="800" height="350"></canvas>-->
    <!--<audio src="upload/s9yAgACiVkT4Bh6_R3Pj.mp3" id="audio" controls>audio element not supported</audio>-->
    <!--<audio src="http://file.api.weixin.qq.com/cgi-bin/media/get?access_token=EfejHoyTWHSqoPcAbJlnSyHxcp-0kGnTxyqAz4kpZq5dv1Oj8OKre2pFaYWZDpmDjCPGVQ1RY4T5CcguYT6C4UJex-jlAT3ttcMQUQuwEdQGIIhAIAKMM&media_id=s9yAgACiVkT4Bh6_R3PjRFRxvlWZNfSK7IdhTLFe-8y56emvs3X_rL2Q1GcDCLea" id="audio" controls>audio element not supported</audio>-->
</div>

</body>
</html>