#erm_box {
  width: 100px;
  margin: 50px auto 0;
}
#ret_box {
  width: 800px;
  margin: 50px auto;
}
#canvas {
  border: 1px solid #c0c0c0;
  background: #000;
}
.bar-wrapper {
  height: 300px;
  position: relative;
}
.bar {
  position: relative;
  bottom: 0;
  width: 5px;
  display: inline-block;
  border: 1px solid red;
  height: 5px;
  border-bottom: 3px solid #fff;
}
#peaks-container {
  margin-top: 30px;
  border: 1px dashed #c0c0c0;
}
#play-container {
  width: 100px;
  margin: 50px auto;
}
#play-container .play {
  padding: 6px 0;
  text-align: center;
  background: #c0c0c0;
  border-radius: 5px;
}
#play-container .play.active {
  background: #4dc71f;
  color: #ffffff;
  cursor: pointer;
}
#play-container .tip.active {
  color: red;
}
